@model Demo
@{
    ViewData["Title"] = "Detail";
}


@if (Model == null)
{
    <div> <label>Not Found Exception </label> </div>
}
else
{

    <h3>Id:   @Model.DemoId </h3>
    <h3>
        Name:
        @Model.DemoName
    </h3>
    <h3>
        Created time:
        @Model.CreatedTime
    </h3>
}



<label>
    <a asp-action="Index" asp-controller="Home">Home</a>
</label>



